@font-face{
    font-family: Old English;
    src: url(../HW3/fonts/Old_Englished_Boots.ttf);
    font-weight: normal;
}

body{
    font-family: 'Old English', 'Times New Roman', Times, serif;
    background-color: rgb(52, 71, 55);
    color:rgb(211, 211, 211);
    font-size: 40px;
    text-align: center;
}